

:root {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  border: 0;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/cesar-couto-27HiryxnHJk-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}

.label {
  font-size: 1.1rem;
  font-weight: bold;
  margin: .5rem;
  color: rgba(19, 6, 200, 0.784)
}

/* reorganize the todo view order to be more intuitive */
.todo-container :nth-child(1),
.todo-container :nth-child(1)+* {
  order: 3;
}

.todo-container :nth-child(3),
.todo-container :nth-child(3)+* {
  order: 4;
}

.todo-container :nth-child(5),
.todo-container :nth-child(5)+* {
  order: 5;
}

.todo-container :nth-child(7),
.todo-container :nth-child(7)+* {
  order: 6;
}

.todo-container :nth-child(9),
.todo-container :nth-child(9)+* {
  order: 2;
}

.todo-container :nth-child(11),
.todo-container :nth-child(11)+* {
  order: 1;
}

#todo-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: .5rem;
}

#modal{
  overflow: visible;
}

#Cancel-Todo{
  grid-area: 1 / 5 / 1 / 5;
  position: relative;
  top: -2.5rem;
}

#todo-title{
  position: relative;
  top: -2.5rem;
}
