

:root {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  border: 0;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/cesar-couto-27HiryxnHJk-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}

.label {
  font-size: 1.1rem;
  font-weight: bold;
  margin: .5rem;
  color: rgba(19, 6, 200, 0.784);
  display: grid;
}



/* reorganize the todo view order to be more intuitive */
.todo-container :nth-child(1),
.todo-container :nth-child(1)+* {
  order: 3;
}

.todo-container :nth-child(3),
.todo-container :nth-child(3)+* {
  order: 4;
}

.todo-container :nth-child(5),
.todo-container :nth-child(5)+* {
  order: 5;
}

.todo-container :nth-child(7),
.todo-container :nth-child(7)+* {
  order: 6;
}

.todo-container :nth-child(9),
.todo-container :nth-child(9)+* {
  order: 2;
}

.todo-container :nth-child(11),
.todo-container :nth-child(11)+* {
  order: 1;
}

#todo-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 4fr, 1fr;
  grid-gap: .25rem;
}

#modal{
  overflow: visible;
  height: 40vh;
  border: none;
}

#modal::backdrop{
  background: burlywood;
  opacity: .5;
}

#Cancel-Todo{
  position: relative;
  height: 40%;
  width: 30%;
  top: -4.25rem;
  left: 12.5rem;
  background-color: rgba(0,0,0, 0);
  border: none;
}
#Cancel-Todo:hover{
  cursor: pointer;
  background-color: red;
  color: white;
}

#todo-title{
  position: relative;
  height: 3rem;
  width: 10vw;
  top: -3.25rem;
  left: -1rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Source Sans Pro',
    sans-serif;
  background-color: white;
}

#title-label,  #todo-title{
  grid-area: 1 / 1 / 1 / 3;
  display: grid;
}

#title-input {
  grid-area: 1 / 1 / 1 / 2;
  width: 100%;
  display: grid;
}

#project-label, #project-input{
  grid-area: 1 / 3 / 2 / 5;
  display: grid;
}

#priority-label,
#priority-input,
#Cancel-Todo {
  grid-area: 1 / 5 / 2 / 6;
  display: grid;
}


#description-label,
#description-input {
  grid-area: 2 / 1 / 3 / 6;
  width: 100%;
  display: grid;
  
}



#due-date-label,
#due-date-input {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
}

#status-label,
#status-input {
  grid-area: 3 / 2 / 4 / 4;
  display: grid;
}

#Submit-Todo {
  grid-area: 3 / 5 / 4 / 6;
  background-color: rgba(0,0,0, 0);
  border: none;
  display: grid;
}

#Submit-Todo:hover{
  cursor: pointer;
  background-color: green;
  color: white;
  display: grid;
}

input {
  border: none;
  border-radius: 5px;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(19, 6, 200, 0.784);
  background-color: rgba(0, 0 , 0, .05);
}