:root {
  background-color: black;
  color: teal;
  margin: 0;
  border: 0;
  
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%
}

.label {
  font-size: 1.1rem;
  font-weight: bold;
  margin: .5rem;
  color: whitesmoke
}

/* reorganize the todo view order to be more intuitive */
.todo-container :nth-child(1),
.todo-container :nth-child(1)+* {
  order: 3;
}

.todo-container :nth-child(3),
.todo-container :nth-child(3)+* {
  order: 4;
}

.todo-container :nth-child(5),
.todo-container :nth-child(5)+* {
  order: 5;
}

.todo-container :nth-child(7),
.todo-container :nth-child(7)+* {
  order: 6;
}

.todo-container :nth-child(9),
.todo-container :nth-child(9)+* {
  order: 2;
}

.todo-container :nth-child(11),
.todo-container :nth-child(11)+* {
  order: 1;
}